:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --wight: #FFFFFF;
}

.page {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

header {
    background-color: var(--black);
}

.header__nav {
    display: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 41px;
}

.header__menu-btm {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
}

.brand__wrp {
    background-color: var(--light-pink);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.brand__subtitle {
    display: flex;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-fashion {
    margin-left: 5px;
    color: #df3c51;
}

.sales__list {
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sales__item {
    padding: 103px 105px;
}

.sales__text {
    color: var(--wight);
    text-align: center;
}

.sales__item-title {
    text-align: center;
    color: #df3c51;
}

.sales__img-women {
    background-image: url(../img/sales/sales__img1.jpg);
    background-repeat: no-repeat;
    margin-right: 30px;
}

.sales__img-men {
    background-image: url(../img/sales/sales__img2.jpg);
    background-repeat: no-repeat;
    margin-right: 30px;
}

.sales__img-kids {
    background-image: url(../img/sales/sales__img3.jpg);
    background-repeat: no-repeat;
}

.sales__img-accesories {
    background-image: url(../img/sales/sales__img4_down.jpg);
    background-repeat: no-repeat;
}

.product__title {
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    line-height: 36px;
}

.product__subtitle {
    text-align: center;
    margin-bottom: 18px;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__item {
    max-width: 360px;
    margin-top: 30px;
    background-image: url(../img/models/Background.png);
}

.product__item-title {
    margin-top: 25px;
    margin-bottom: 12px;
    margin-left: 18px;
}

.product__item-text {
    margin-left: 18px;
}

.product__item-price {
    margin-top: 18px;
    margin-bottom: 20px;
    margin-left: 18px;
    color: #df3c51;
}

.botton {
    margin: 48px 0 95px 0;
}

.botton__link {
    text-decoration: none;
}

.botton__text {
    text-align: center;
    color: #df3c51;
    padding: 14px 38px;
}

.info {
    background-color: #222224;
    height: 341px;
}

.info__list {
    display: flex;
    justify-content: space-between;
}

.info__img {
    margin-top: 103px;
    margin-bottom: 28px;
    margin-left: 173px;
    
}

.info__title {
    margin-bottom: 16px;
    text-align: center;
    font-family: Lato;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.info__text {
    text-align: center;
}