:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --wight: #FFFFFF;
}

.page {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.text {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

header {
    background-color: var(--black);
}

.header__nav {
    display: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 41px;
}

.header__menu-btm {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
}

.brand__wrp {
    background-color: var(--light-pink);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    position: relative;
}

.brand__wrp:before {
    content: '';
    border: 1px solid #F16D7F;
    background-color: #F16D7F;
    ;
    width: 12px;
    height: 92px;
    left: 40px;
    position: absolute;
}

.brand__title {
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.brand__subtitle {
    display: flex;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-fashion {
    margin-left: 5px;
    color: #df3c51;
}

.sales__list {
    display: flex;
    margin-top: 65px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sales__item {
    padding: 103px 105px;
}

.sales__text {
    color: var(--wight);
    text-align: center;
    text-transform: uppercase;
}

.sales__item-title {
    text-align: center;
    color: #df3c51;
    text-transform: uppercase;
}

.sales__img-women {
    background-image: url(../img/sales/sales__img1.jpg);
    background-repeat: no-repeat;
    margin-right: 30px;
}

.sales__img-men {
    background-image: url(../img/sales/sales__img2.jpg);
    background-repeat: no-repeat;
    margin-right: 30px;
}

.sales__img-kids {
    background-image: url(../img/sales/sales__img3.jpg);
    background-repeat: no-repeat;
}

.sales__img-accesories {
    background-image: url(../img/sales/sales__img4_down.jpg);
    background-repeat: no-repeat;
}

.product__title {
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    line-height: 36px;
}

.product__subtitle {
    text-align: center;
    margin-bottom: 18px;
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product__item {
    max-width: 360px;
    margin-top: 30px;
    background-image: url(../img/models/Background.png);
}

.product__item-title {
    text-transform: uppercase;
    margin: 25px 0 12px 18px;
}

.product__item-text {
    margin-left: 18px;
}

.product__item-price {
    margin-top: 18px;
    margin-bottom: 20px;
    margin-left: 18px;
    color: #df3c51;
}

.product__item-wrp {
    position: relative;
}

/* ---Затемняшка при наведении -- */

.product__item-overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

/* -----Кнопка при наведении ---- */

.product__button {
    position: absolute;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 14px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

/* -------------------------------- */

.product__button,
.product__item-overlay {
    display: none;
}

.product__item:hover .product__button,
.product__item:hover .product__item-overlay {
    display: block;
}

/* ------Кнопка Browse All Produsct------- */

.botton__item {
    border: 1px solid #df3c51;
    display: block;
    margin: 48px auto 95px auto;
}

.botton__link {
    text-decoration: none;
}

.botton__text {
    text-align: center;
    color: #df3c51;
    padding: 14px 38px;
}

/* ---------------------------------------- */

.info {
    background-color: #222224;
    height: 341px;
}

.info__list {
    display: flex;
    justify-content: space-between;
}

.info__img {
    margin-top: 103px;
    margin-bottom: 28px;
    margin-left: 173px;

}

.info__title {
    margin-bottom: 16px;
    text-align: center;
    font-family: Lato;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.info__text {
    text-align: center;
}

.subscribe__list {
    display: flex;
    justify-content: space-between;
    min-height: 448px;
}

.subscribe__position {
    margin-top: 150px;
}

.subscribe__img {
    display: block;
    margin: 0 auto;
}

.subscribe__text {
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 400px;
    color: #222224;
}

.subscribe__text-span {
    font-style: italic;
}

.subscribe__subtitle {
    margin-top: 150px;
}

.subscribe__subtitle {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe__subtitle-text {
    text-transform: uppercase;
    font-family: Lato;
    font-style: normal;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
}

.email {
    display: block;
    margin: 0 auto;
}


.subscribe__email {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 18px;
    margin-left: 30px;
    width: 256px;
    background: #E1E1E1;
    color: #222224;
    position: relative;
}

.subscribe__btm {
    position: absolute;
    padding: 18px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100px;
    background: #F16D7F;
    color: var(--wight);
}

.subscribe__email,
.subscribe__btm {
    border: none;
}


.footer__aside {
    background-color: var(--black);
}

.footer__list {
    display: flex;
    justify-content: space-between;
    max-height: 79px;
}

.footer__item-text {
    padding: 30px 0 30px 0;
    font-family: Lato;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.footer__social {
    padding: 30px 0 30px 0;
}

.footer__social-icon {
    margin-left: 7px;
}