@import 'reset';

@import 'varibles';

@import 'mixins';

@import 'general';

@import 'blocks/header';

@import 'blocks/botton';

@import 'blocks/brand';

@import 'blocks/email';

@import 'blocks/info';

@import 'blocks/product';

@import 'blocks/sales';

@import 'blocks/subscribe';

@import 'blocks/footer';

@import 'blocks/sales__img-kids';

@import 'blocks/sales__img-men';

@import 'blocks/sales__img-women';

@import 'blocks/registration__heading';