.botton {
    
    .botton__item {
        border: 1px solid #df3c51;
        display: block;
        margin: 48px auto 95px auto;
        transition: 0.5s;
    }
    
    .botton__link {
        text-decoration: none;
    }
    
    .botton__text {
        text-align: center;
        color: #df3c51;
        padding: 14px 38px;
    
    }
    
    .botton__item:hover {
        transform: scale(1.2);
    }
}
