.brand {

    display: flex;

    .brand__img {
        width: 48%;
    }

    .brand__wrp {
        background-color: #F1E4E6;
        padding: 0 0 0 90px;
    }

    .main__wrp {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .brand__title {
        font-family: "LatoBlack";
        font-size: 48px;
        font-weight: 900;
        line-height: 58px;
        text-align: left;
        text-transform: uppercase;
        position: relative;

        &::before {
            height: 94px;
            width: 12px;
            background-color: #F16D7F;
            content: "";
            position: absolute;
            left: -26px;
        }
    }

    .brand__subtitle {
        font-family: "Lato";
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        display: flex;
    }

    .color-other {
        color: #F16D7F;
    }
}


@media (max-width: 1599px) {

    .brand__wrp {
        padding: 0 0 0 60px;
    }

    .brand__title {
        font-family: "LatoBlack";
        font-size: 44px;
        font-weight: 900;
        line-height: 53px;

        &::before {
            height: 86px;
        }
    }

    .brand__subtitle {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }
}

@media (max-width: 767px) {

    .brand__img {
        display: none;
    }
    
    .brand__wrp {
        padding: 0 0 0 56px;
        min-height: 370px;
    }

    .main__wrp {
        justify-content: center;
    }

    .brand__title {
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;

        &::before {
            height: 74px;
        }
    }

    .brand__subtitle {
        font-family: "Lato";
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;   
    }
}