.email {
    margin-top: 30px;
    max-width: 345px;
    display: flex;

    .subscribe__email {
            font-family: "Lato";
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            text-align: left;
            width: 250px;
            height: 50px;
            background-color: #E1E1E1;
            border-radius: 25px 0px 0px 25px;
            padding: 5px 22px;
            box-sizing: border-box;

        &:focus {
            background: #ffffff;
        }
    }
    
    .subscribe__btm {
        font-family: "Lato";
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #FFF;
        width: 150px;
        height: 50px;
        background-color: #F16D7F;
        border-radius: 0px 25px 25px 0px;
        padding: 5px;
        border: 2px solid #F16D7F;
    }
    
    .subscribe__email,
    .subscribe__btm {
        border: none;
    }
}

@media (max-width: 1599px) {

    .email {
        margin-top: 25px;
        margin-bottom: 30px;
    }
}
