.footer {

    .footer__aside {
        background-color: $black;
    }
    
    .footer__list {
        display: flex;
        justify-content: space-between;
        max-height: 79px;
    }
    
    .footer__item-text {
        padding: 30px 0 30px 0;
        font-family: Lato;
        font-size: 16px;
        line-height: 19px;
        color: #FBFBFB;
    }
    
    .footer__social {
        padding: 30px 0 30px 0;
    }
    
    .footer__social-icon {
        margin-left: 7px;
    }
    
    .footer__social-img {
        transition: 0.5s;
    }
    
    .footer__social-img:hover {
        transform: scale(1.1);
    }
}