.footer {

    background-blend-mode: lighten;
    background-image: url(../img/footer/footer_bkg.jpg);
    background-color: rgba(244, 244, 244, 0.7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .footer__aside {
        background-color: $black;
    }
    
    .footer__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
    }
    
    .footer__item-text {
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FBFBFB;
    }
    
    .footer__social {
        width: 160px;
        display: flex;
        justify-content: space-between;
    }
    
    .footer__social-icon {
        margin-left: 7px;
    }
    
    .footer__social-img {
        transition: 0.5s;
    }
    
    .footer__social-img:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 1599px) {
    
    .footer {
        background-position: 25% center;
    }
}

@media (max-width: 767px) {

    .footer__list {
        flex-direction: column-reverse;
        padding: 40px 0 10px;
    }

    .footer__social {
        margin-bottom: 30px;
    }
}