.info {
    min-height: 340px;
    background-color: #222;
    margin-top: 95px;
    display: flex;
    justify-content: center;


    .info__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 25px 0 45px;
    }

    .info__item {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        height: 135px;
        text-align: center;
    }
    
    .info__img {
        height: 40px;
        align-self: center;
    }
    
    .info__title {
        margin-bottom: 16px;
        text-align: center;
        font-family: Lato;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    
    .info__text {
        text-align: center;
    }
}


@media (max-width: 1599px) {

    .info {
        height: 610px;
    }

    .info__list {
        flex-direction: column;
    }

    .info__item {
        margin-top: 28px;
    }
}       
