.info {
    background-color: #222224;
    height: 341px;

    .info__list {
        display: flex;
        justify-content: space-between;
    }
    
    .info__img {
        margin-top: 103px;
        margin-bottom: 28px;
        margin-left: 173px;
    
    }
    
    .info__title {
        margin-bottom: 16px;
        text-align: center;
        font-family: Lato;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    
    .info__text {
        text-align: center;
    }
}

