.registration__heading {
    min-height: 148px;
    background-color: #F8F3F4;

    .registration__heading-text {
        font-family: $font-lato;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
        text-transform: uppercase;
    }
}
