.sales {
    display: block;
    margin-top: 65px;

    .sales__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sales__item {
        width: 31%;
        height: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }

    .sales__item-wide {
        margin-top: 30px;
        width: 100%;
        height: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .sales__item-img {
        min-width: 232px;
    }

    .sales__decs {
        position: absolute;
        text-align: center;
        cursor: pointer;
    }

    .sales__text {
        font-family: "Lato";
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #FFF;
        text-transform: uppercase;
    }

    .sales__subtitle {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        color: #F16D7F;
        text-transform: uppercase;
    }
}


@media (max-width: 1599px) {
    .sales {
        margin-top: 0;
    }

    .sales__item {
        margin-top: 20px;
    }

    .sales__item-wide {
        margin-top: 20px;
    }

}

@media (max-width: 767px) {

    .sales__list {
        flex-direction: column;
        
    }

    .sales__item {
        padding-top: 30px;
        width: 98%;
        height: auto;
        margin: 0 auto;
    }

    .sales__item-wide {
        margin-top: 30px;
        width: 98%;
        height: auto;
    }
}