.subscribe {

    .subscribe__list {
        display: flex;
        justify-content: space-around;
        min-height: 448px;
        padding: 55px 0 110px;
    }

    .subscribe__item-comment {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subscribe__item-newletter {
        max-width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .subscribe__img {
        display: block;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    
    .subscribe__text {
        font-family: "Lato";
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    
    .subscribe__text-span {
        font-style: italic;
    }
    
    .subscribe__subtitle {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 50px;
    }

    
    .subscribe__subtitle-text {
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: center;
        text-transform: uppercase;
    }
}


@media (max-width: 1599px) {

    .subscribe__list {
        flex-direction: column;
        align-items: center;
    }

    .subscribe__subtitle {
        font-family: "Lato";
        font-size: 24px;
        font-weight: 700;
        line-height: 38px;
    }

    .subscribe__subtitle-text {
        font-family: "Lato";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
}
